.loader-container::after {
  content: "";
  height: 8rem;
  width: 8rem;
  border: 20px solid var(--Secondary_Bg_Color);
  border-top-color: var(--Primary_Color);
  border-bottom-color: var(--Primary_Color);
  border-radius: 50%;
  animation: loader-container 1s linear infinite;
}

@keyframes loader-container {
  to {
    transform: rotate(1turn);
  }
}
