.right-answer {
  background-color: var(--Primary_Color);
}
.wrong-answer {
  background-color: var(--Color_Danger_500);
}

.event-none {
  pointer-events: none;
  cursor: not-allowed;
}

@media screen and (min-width: 500px) {
  .question-container {
    grid-template-columns: 30rem;
    justify-content: center;
  }
}
